layout python3

# Specify the Python version you want to use
use python 3.11.0

# Create and activate a virtual environment
layout virtualenv

# Install required packages
pip install jupyter notebook pandas numpy==2.0.0 matplotlib scipy scikit-learn patsy plotly statsmodels lxml cvxopt seaborn category_encoders scikit-fda scikit-misc xgboost tabulate polars transformers torch nltk py2wasm lime



# Set environment variables
export PYTHONPATH=$PWD
export JUPYTER_CONFIG_DIR=$PWD/.jupyter

